@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

main{
  background-color: rgb(72, 82, 90);
}
html{
  background-color: rgb(72, 82, 90);
}

input{
  width: clamp(10rem, 50vw, 50rem);
  height: 2rem;
  margin: 0.5rem 0 0.5rem 0;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
}

textarea{
  width: clamp(10rem, 50vw, 50rem);
  height: 10rem;
  margin: 0.5rem 0 0.5rem 0;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
}






